# Service part
service:

  # Grappa measures the time taken to grade all task-specific
  # submissions and returns that value to the client for every
  # subsequent task-specific grading request. Since there is
  # no measured time data available on system startup, the
  # default_estimated_grading_seconds property sets the initial
  # value for every submission request. After the first submission
  # has been graded and the time measured, every subsequent
  # task-specific submission request will receive the actual
  # estimated time remaining for a task-specific submission to
  # finish its grade process.
  default_estimated_grading_seconds: 20
  
  # A problem's estimated grading time is based on the arithmetic mean of previously 
  # measured grading times that are kept in a list; limiting that list's size to a 
  # maximum controls how many of these most recent (previous) grading times are taken 
  # into account when estimating a problem's new grading time
  prev_grading_seconds_max_list_size: 10
  
  # Sets the logging level of the web service
  # (possible values: OFF, ERROR, WARN, INFO, DEBUG, TRACE and ALL)
  logging_level: "DEBUG"
  
  # Grading requests to Grappa can be either synchronous or
  # asynchronous. Synchronous requests will block the calling function
  # while asynchronous requests will return immediately for the caller
  # to retrieve the grading result at a later time.
  # This property sets the wait timeout for Grappa for synchronous
  # submission requests by clients.
  synchronous_submission_timeout_seconds: 120

  # The class path and name to the module used to setup a vagrant
  # environment for the web service
  # Note: Grappa does not currently use these properties.
  # They can be left out for now.
  # default_grading_environment_setup_class_path: "path to jar"
  # default_grading_environment_setup_class_name: "de.hsh.grappa.VagrantHostSetup"

# Client LMS authentification
# All REST API calls by a client to the web service must be authorized
lms:
  - name: "test@HsH"
    id: "test"
    password_hash: "test"
    # expected internal error type always merged test feedback 
    # (temporary switch, default: false)
    eietamtf: false

# The graders part
# Every grader definition here represents a grader pool
# with a specified number of grader instances in that pool.    
graders:

  # Submission requests must supply the target grader pool's ID
  # An ID consists of: gradername and graderversion
  # The gradername and graderversion must not contain a '$' character
  # A grader version is structured as follows: major separated from minor with a dot: {major}.{minor}
  - id:
      name: "DummyGrader"
      version: "1.0"

    # A user-friendly name for this grader pool
    display_name: "DummyGrader" # user friendly name

    # optional, a list of programming languages
    # that are supported by the particular grader
    # for possible values see: Appendix B of the ProFormA Format Whitepaper
    # (https://github.com/ProFormA/proformaxml/blob/master/Whitepaper.md#appendix-b-list-of-programming-languages)
    proglangs: ["java", "python"]

    # A grader pool may be enabled or disabled. Disabled grader pools
    # are ignored and not utilized by Grappa. Neither do they show up
    # in the result when a client polls for available grader types.
    enabled: true  # enable or disable grader

    # The timeout in seconds dictates the maximum time for a submission
    # to be graded after which the grading process is forcibly
    # interrupted. Timed out submissions are considered failed
    # submissions, either due to the student's code or an internal
    # server problem.
    timeout_seconds: 60

    # Sets the number of maximum grader instances in this grader pool
    concurrent_grading_processes: 5

    # optional, if different from service setting above
    #logging_level: "WARN"

    # optional, provides the LMS with information which
    # result specifications should be used as default values
    # when requesting the result specifications from the grader
    result_spec:
      format: "xml" # possible values: "zip", "xml"
      structure: "separate-test-feedback" # possible values: "separate-test-feedback", "merged-test-feedback"
      teacher_feedback_level: "debug" # possible values: "debug", "info", "warn", "error"
      student_feedback_level: "info" # possible values: "debug", "info", "warn", "error"

    # optional, specifies whether the stacktrace of an internal error should be included
    # in the response or not (stacktrace will be visible to teachers only)
    # default value is false
    show_stacktrace: false

    # Grader-specific properties
    # Properties (key/value pairs only) set here, will be forwarded to backend plugin 
    # before each grading process.
    # (These should be default values that may be overwritten by LMS in future.)
    # Optional.
    grader_plugin_defaults:
      my.property.1: "value 1"
      another.property: 42
    
    #actually not supported for host_jvm
    #optional: defautl host-settings (host-mashine)
    file_encoding: UTF-8
    user_language: de   # en
    user_country: DE  # US
  
    # Decides whether the grader will be run in host's JVM or within a docker-container.
    # Mandatory. Possible values: host_jvm_bp | docker_jvm_bp 
    operating_mode: host_jvm_bp
    #operating_mode: docker_jvm_bp

    # Additional preferences for running grader in host's JVM.
    # Mandatory if 'operating_mode' was set to 'host_jvm_bp'
    host_jvm_bp:
        # Directory where the grader backendplugin is installed.
        # In this directory all given fileextensions will be added to classpath recursivly.
        # Mandatory.
        dir: "/usr/local/graders/dummygrader" 
        
        # Semicolon separated absolute path(es) to files or directories that are to be 
        # loaded to the classpath when running on the host's JVM that are not installed in
        # directory `dir` above.
        # Optional. Default: (empty string)
        #additional_absolute_classpathes: "/lib/xy;/lib/z.jar"
        
        # Semicolon separated file extensions that grappa should load to the classpath 
        # from `dir` resp. `additional_absolute_classpathes`.
        # Optional. Default value: ".jar" (Possible values: ".jar;.class;.zip")
        #fileextensions: ".jar;.class;.zip"

        # Dot-style java-class fully qualified name of the graderbackend plugin (extending 
        # the class `de.hsh.grappa.backendplugin.BackendPlugin`).
        # This class is expected within classpath collected from `dir` above.
        # Mandatory.
        backend_plugin_classname: "de.hsh.grappa.backendplugin.dummygrader.DummyGrader"

    # Additional preferences for running grader using the Docker proxy.
    # Mandatory if 'operating_mode' was set to 'docker_jvm_bp'
    docker_jvm_bp:        
        # The Name of the docker image to create a container from. 
        # If image is not found locally, docker will search for remote one.
        # For registries different from local or DockerHub the general design of this name
        # is: registry:port/repo/image:tag
        # Mandatory.
        image_name: "ghcr.io/hsh-elc/grappa-backend-dummygrader:latest"
                
        # Following settings are only necessary, if you choose an independent grader not 
        # extending Grappa's Backendplugin API. Leave commented if not sure ;)
        # Make sure directories defined below exist already within your Docker image.

        # Directory within the container to place the submission (`submission.zip` resp. 
        # `submission.xml`).
        # Optional. Default: "/var/grb_starter/tmp"
        #copy_submission_to_dir_path: /where/should/the/submission/be/placed
        
        # Directory within the container to retrieve the response from (`response.zip` 
        # resp. `submission.xml`).
        # Optional. Default: "/var/grb_starter/tmp"
        #load_response_from_dir_path: /where/is/response/expected
        
        # Absolute file-path within the container to place the properties-file containing
        # properties defined in `grader_plugin_defaults` above.
        # Optional. Default: "/opt/grader/graderBP.properties"
        #copy_grader_plugin_defaults_properties_to_file: /where/to/place/graderBP.properties


# Defines Docker preferences for the host machine affecting the Docker proxy backend plugin,
# acting as a layer in between Grappa and the 'real' grader backend plugin that resides 
# within a Docker container. Every submission request is delegated to the real grader 
# plugin. This only needs to be defined if at least one grader uses grappa-backend-plugin-
# docker-proxy. It should be noted that it is not required to use the Docker proxy backend
# plugin if Docker is not intended to be used. In that case, choose 
# 'operating_mode: host_jvm_bp' for all graders.
docker_proxy:
    # docker host uri (including port)
    # Mandatory
    host: "tcp://127.0.0.1:2375"

# Storage part
# Redis is used as a cache storage
# Redis should be configured so that the cache persists in spite of system
# and/or web service shutdowns and restarts
cache:

  # Submissions requested for grading by clients are instantly queued for
  # grading. After a submission has been graded, it is not instantly
  # removed. Instead, it remains in cache until its time runs out, at which
  # point it is permanently removed from the system.
  submission_ttl_seconds: 86400 # 1 day

  # The TTL of task objects  
  task_ttl_seconds: 2592000 # 30 days

  # The TTL of response (submission result) objects. It does not matter if
  # a response has been retrieved by the client at any point. Once the TTL
  # runs out, so does the response object.
  response_ttl_seconds: 2592000 # 30 days

  # Redis connection info
  redis:
    host: ""
    port: 6379
    password: ""
