<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- Do not log anything below the INFO level on STDOUT (which is redirected to catalina.out) -->
            <!-- Enable this line and set it to INFO on productive servers if you do not wish to see DEBUG messages in catalina.out -->
            <!-- Disable this line (by commenting it out) or set it to DEBUG on your local machine if you want DEBUG messages to be logged to STDOUT (in your console, for example) --><!-- Do not log anything below the INFO level on STDOUT (which is redirected to catalina.out) -->
            <!-- <level>INFO</level> -->
        </filter>
        <encoder>
            <!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern> -->
            <pattern>%date %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <property name="logDirectory" value="${catalina.base}/logs"/>
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="de.hsh.grappa.utils.AppNameDiscriminator"/>
        <sift>
            <appender name="FILE-${appName}" class="de.hsh.grappa.utils.MyFileAppender">
                <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
                <file>${logDirectory}/${appName}.log</file>
                <encoder>
                    <!-- <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern> -->
                    <pattern>%date %-5level %logger{5} - %msg%n</pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>${logDirectory}/${appName}-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>100MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
            </appender>
        </sift>
    </appender>

    <logger name="de.hsh.grappa" level="DEBUG"/>
    <root level="DEBUG">
        <appender-ref ref="SIFT"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>